html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 100px);
}
.home {
  color: #b8282a;
}
.navbar {
  box-shadow: 0 1px 4px black;
}
.logo {
  margin-left: 0%;
  padding-left: 0%;
}
.cartButton {
  margin-left: 100px;
}
.googleTranslate {
  padding-left: 20px;
}
.list-group-item {
  background-color: antiquewhite;
  border: 1px solid black;
  box-shadow: inset 0 0 2px #000;
}

.weightLoss {
  margin-left: 3%;
  margin-top: 40px;
}

.sticky-bottom {
  box-shadow: 0 1px 4px black;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.smoothieCategories ul {
  margin-left: 35%;
}

footer {
  position: sticky;
  bottom: 0;
}

.getFit {
  margin-left: 3%;
  margin-top: 40px;
}

.getTreat {
  margin-left: 3%;
  margin-top: 40px;
}

.getBeWell {
  margin-left: 3%;
  margin-top: 40px;
}

.checkout {
  position: absolute;
  bottom: 100px;
  width: 92%;
}

.fa-cart-shopping {
  color: #b8282a;
}
