html, body {
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'nimbus-sans-condensed', sans-serif;
}

/* @media (min-width: 35em) {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
} */

.nav-container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    position: relative;
    /* border: 2px solid rgb(0, 0, 0); */
    height: 7vh;
    box-shadow: 0 1px 8px black;
    color: #b8282a;
}

/* #navbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
} */

/* .navbarOffsetMargin {
    padding-top: 7vh;
} */

#home {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: left;
    padding-left: 5%;
    align-items: center;
}

#logo {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: center;
    /* z-index: -1; */
}
#logo img {
    height: 60px;
    width: 60px;
}

#stuff {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    padding-left: 40%;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

#translate-container{
    /* color: #ffffff; */
}

.nav-container input{
    padding: 7%;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid #b8282a;
    border-radius: 25px;
    background-color: #ffffff;
    transition: 0.2s;
    cursor: pointer;
    color: #b8282a;
}

.nav-container input:hover{
    border: 2px solid rgb(255, 101, 101);
    transition: 0.2s;
    background: rgb(255, 101, 101);
    transition-timing-function: ease-out;
    color: white;
    /* box-shadow: 0px 1px 4px black; */
}

.fa-house:hover {
    box-shadow: 5px 5px 8px black;
    transition: 0.0;
    scale: 1.1;
}

.tab {
	display: flex;
    flex: 1 1 auto;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
	position: relative;
	border-right: 1px solid black;
    max-width: 20%;
	width: 20%;
    max-height: 93%;
    height: 93%;
    float: left;
    margin-right: 2%;
}

.tab button {
	position: relative;
    position: -webkit-sticky;
    position: sticky;
	width: 90%;
	background-color: inherit;
    padding: 5%;
	border: 2px solid black;
    border-radius: 8px;
	outline: none;
    font-size: 24px;
	font-weight: bold;
    cursor: pointer;
    user-select: none;
    text-align: center;
	transition: 0.3s;
    color: #b8282a;
}

.tab button:hover {
    transition: 0.3s;
    background: #c72a2d;
    color: white;
    transition-timing-function: ease-out;
}

.tabcontent {
    display: flex;
    flex-direction: column;
	position: relative;
    border-left: none;
    width: calc(100% - 25%);
	height: 88%;
    margin-top: 2%;
    float: left;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid black; */
    box-shadow: 0 1px 8px black;
    border-radius: 8px;
}
.tabcontent .table1{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 8px black;
    /* border: 2px solid black; */
    border-radius: 8px;
    color: black;
}
.tabcontent .table2{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 8px black;
    /* border: 2px solid black; */
    border-radius: 8px;
    color: black;
}
.tabcontent h1 {
    align-items: center;
    text-decoration: underline;
    font-size: 30px;
    color: #b8282a;
}
.tabcontent td {
    width: 100px;
    padding: 2%;
    border-bottom: 1px solid black;
}

.tabcontent .table2 td {
    width: 150px;
    padding: 2%;
    border-bottom: 1px solid black;
}



.tabcontent .container{
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* border: 2px solid black; */
    /* border-radius: 8px; */
    font-size: 17px;
}
.tabcontent .container .prompt {
    display: flex;
    text-align: center;
    border-bottom: 2px solid black;
    padding: 2%;
}
.tabcontent .container label {
    display: flex;
    justify-content: center;
    padding: 5%;
    text-align: center;
}
.tabcontent .container input {
    padding: 5%;
    border-radius: 8px;
    /* text-align: center; */
}

.tabcontent .container2 {
    height: 40%;
    width: 90%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* border: 2px solid black; */
    /* border-radius: 8px; */
    font-size: 17px;
}

.tabcontent #button{
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
    border-radius: 8px;
}
.tabcontent #button input{
    padding: 3%;
    width: 70%;
    transition: .3s;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    color: #b8282a;
}
.tabcontent #button input:hover{
    background-color: #c72a2d;
    color: white;
    border-color: black;
    transition: .3s;
}

/* .tabcontent #add-button input:hover{
    background-color: #c72a2d;
    color: white;
    border-color: black;
    transition: .3s;
} */